body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "signika", sans-serif;
}

.jumbo-color {
    background-image: radial-gradient(ellipse at top left, #41bece, #3f51b5, #55167d);
    color: cornsilk;
}
.card-hotel {
    width: 180px;
    margin-top: 1rem;
    padding: 2px 10px;
    border: 1px solid black;
}
.description {
    padding: 15px 10px;
    font-size: 14px;
}
.footer {
    background-image: radial-gradient(ellipse at top left, #9ee5ee, #bdccf5, #c3bcf5);
    /* height: 5rem; */
    margin-top: auto;
}
.social-icons {
    font-size: 4px;
    color: red;
}
